@using MyFragment.Entities.Entity
@model Movie
@{
    ViewBag.Title = "Sil";
}



<div class="container mb-5">

    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-5">Sil</h2>
            <h3 class="mt-5">Aşağıdaki kaydı silmek istediğinizden emin misiniz?</h3>
            <h4>@Model.Name</h4>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 offset-md-2 text-center">
                <img src="~/img/MoviePoster/@Model.ImagePath" id="imgshow" width="180" height="250" /><hr />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <b>@Html.DisplayNameFor(model => model.Name)&nbsp;:&nbsp;</b> @Html.DisplayFor(model => model.Name) <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <b>@Html.DisplayNameFor(model => model.MovieYear)&nbsp;:&nbsp;</b> @Html.DisplayFor(model => model.MovieYear) <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <b>@Html.DisplayNameFor(model => model.AddedDate)&nbsp;:&nbsp;</b> @Html.DisplayFor(model => model.AddedDate) <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <b>@Html.DisplayNameFor(model => model.ImdbPoint)&nbsp;:&nbsp;</b> @Html.DisplayFor(model => model.ImdbPoint) <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <b>@Html.DisplayNameFor(model => model.ImagePath)&nbsp;:&nbsp;</b> @Html.DisplayFor(model => model.ImagePath) <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <b>@Html.DisplayNameFor(model => model.Lenght)&nbsp;:&nbsp;</b> @Html.DisplayFor(model => model.Lenght) <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <b>@Html.DisplayNameFor(model => model.EmbedKey)&nbsp;:&nbsp;</b> @Html.DisplayFor(model => model.EmbedKey) <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <b>@Html.DisplayNameFor(model => model.Summary)&nbsp;:&nbsp;</b><p class="text-justify"> @Html.DisplayFor(model => model.Summary)</p> <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4><b>Yönetmenler</b></h4>
            <table class="table table-sm table-hover">
                <tr>
                    <th class="text-dark">
                        Isim
                    </th>
                    <th class="text-dark">
                        Soyisim
                    </th>
                </tr>
                @foreach (Director director in Model.Directors)
                {
                    <tr>
                        <td>@director.Name</td>
                        <td>@director.Surname</td>
                    </tr>

                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4><b>Oyuncular</b></h4>
            <table class="table table-sm table-hover">
                <tr>
                    <th class="text-dark">
                        Isim
                    </th>
                    <th class="text-dark">
                        Soyisim
                    </th>
                </tr>
                @foreach (Actor actor in Model.Actors)
                {
                    <tr>
                        <td>@actor.Name</td>
                        <td>@actor.Surname</td>
                    </tr>

                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4><b>Kategoriler</b></h4>
            <table class="table table-sm table-hover">
                <tr>
                    <th class="text-dark">
                        Kategori isim
                    </th>
                </tr>
                @foreach (Category category in Model.Categories)
                {
                    <tr>
                        <td>@category.Value</td>
                    </tr>

                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @HelperMethod.IconButton("submit", "trash-alt", "btn-danger mr-1", "Sil")
                    @HelperMethod.IconLink(Url.Action("Index"), "arrow-circle-left", "btn-secondary", "Listeye dön")
                </div>
            }
        </div>
    </div>
</div>
