@model MyFragment.Entities.Entity.Category

@{
    ViewBag.Title = "Delete";
}
<div class="container mb-5">

    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-5">Sil</h2>
            <h3>Aşağıdaki kaydı silmek istediğinizden emin misiniz?</h3>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <b>@Html.DisplayNameFor(model => model.CategoryState)&nbsp;:&nbsp;</b> @Html.DisplayFor(model => model.CategoryState) <hr />
            <b>@Html.DisplayNameFor(model => model.Value)&nbsp;:&nbsp;</b> @Html.DisplayFor(model => model.Value) <hr />

        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @HelperMethod.IconButton("submit", "trash-alt", "btn-danger mr-1", "Sil")
                    @HelperMethod.IconLink(Url.Action("Index"), "arrow-circle-left", "btn-secondary", "Listeye dön")
                </div>
            }
        </div>
    </div>

</div>
